* {

    box-sizing: border-box;
}

body {

    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_link {

    text-decoration: none;
    color: black;
}

.energy {

    color: rgb(0, 77, 0);
}

#nav_b {

    background-color: #F0FDF4;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: 5px solid #052E16;
    display: flex;
    justify-content: space-between;
}

#right_side {

    margin-top: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-color: #052E16;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hero {

    background-image: url("../img/francesco-gallarotti-ruQHpukrN7c-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
}

.topic_heading {

    display: flex;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 1.25rem;
    border: 5px black solid;
    background-color: #F0FDF4;
}

#right_side a {

    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

#right_side #selected_page {

    font-weight: bold;
    text-decoration: none;
}

h3 {

    margin: 0px;
}

#hero #call_to_action {

    padding-left: 20px;
    width: 190px;
    font-size: 36px;
    font-weight: bold;
}

.topic_heading h1 {

    margin: 0px;
}

.category_tips {

    margin: 60px;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.tip_body {

    display: flex;
    gap: 30px;
    border: 3px black solid;
    border-radius: 15px;
}

.tips {

    line-height: 1.75rem;
    font-size: 1.125rem;
}

.tip_heading {

    font-size: 1.5rem;
}

img {
    width: 200px;
    height: 186px;
}

.tip_image_box {

    width: 250px;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
}

.tip_info {

    display: inline;
}

/*
About Page Specific
*/

.content {
    margin: 2rem;
}